{% extends 'base.html' %}
{% load static %}

{% block title %}Password Reset Complete - WildcatWear{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-form-container">
        <h2 class="section-title my-10 pb-2">
            Password Reset Complete
        </h2>
        
        <div class="alert alert-success">
            <p>Your password has been successfully reset.</p>
            <p>You can now use your new password to log in to your account.</p>
        </div>
        
        <div class="form-actions">
            <a href="{% url 'login' %}" class="btn btn-primary">Go to Login</a>
        </div>
    </div>
</div>
{% endblock %}