{% extends 'base.html' %}
{% load static %}

{% block title %}Password Reset Request Sent - WildcatWear{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-form-container">
        <h2 class="section-title my-10 pb-2">
            Password Reset
        </h2>
        
        <div class="alert alert-warning">
            <p>If your email address or username is registered, you will receive an email with 
                instructions on resetting your password.</p>
        </div>

    </div>
</div>a
{% endblock %}